
body {
    margin: 0;
    font-family: Arial;
}
/* this is fixed */
.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}
.sticky-note {
    position: sticky;
    top: 60px;
    background-color: yellow;
    padding: 5px;
    text-align: center;
}

.content {
    margin-top: 120px;
    margin-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 220px;
    margin: 15px;
    padding: 10px;
    border: 2px solid #333;
    background-color: #f2f2f2;
    text-align: center;
    position: relative; 
}

/* Image */
.img-box {
    position: relative;
}

/* Overlay */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    color: white;
    display: none;
    justify-content: center;
    align-items: center;
}

/*  overlay on hover */
.img-box:hover .overlay {
    display: flex;
}
/* this is fixed */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}
