
.main-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.box {
    background-color: white;
    padding: 15px;
    border: 1px solid #ccc;
}

.sidebar {
    background-color: #e6e6e6;
    padding: 15px;
    height: 100%;
}

footer {
    margin-top: 30px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

.box ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
