body {
    font-family: Arial;
    background: #f2f2f2;
    padding: 20px;
}

#result {
    margin-top: 20px;
    background: white;
    padding: 15px;
    border: 1px solid #ccc;
    width: 300px;
}
