body {
    font-family: Arial;
    background: #f2f2f2;
    padding: 20px;
}

.input-box {
    margin-bottom: 10px;
}

li {
    background: white;
    margin: 5px;
    padding: 10px;
    border: 1px solid #ccc;
}

.completed {
    text-decoration: line-through;
    color: gray;
}
