body {
    font-family: Arial;
    background-color: #f2f2f2;
    padding: 20px;
}

h2 {
    text-align: center;
}

.input-box {
    text-align: center;
    margin-bottom: 10px;
}

input {
    padding: 5px;
}

button {
    padding: 5px 10px;
    cursor: pointer;
}

.filters {
    text-align: center;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: white;
    margin: 5px auto;
    padding: 10px;
    width: 60%;
    display: flex;
    justify-content: space-between;
    border: 1px solid #ccc;
}

.completed {
    text-decoration: line-through;
    color: gray;
}
